<!DOCTYPE html>
<html lang="en">

<head>
    {%- block site_meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if config.site_description %}
    <meta name="description" content="{{ config.site_description }}">{% endif %}
    {% if config.site_author %}
    <meta name="author" content="{{ config.site_author }}">{% endif %}
    {%- endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block htmltitle %}
    <title>{% if page and page.meta.title %}{{ page.meta.title }} - {% endif %}{{ config.site_name }}</title>
    {% endblock %}

    <link rel="stylesheet" href="{{ 'css/style.css' | url }}">
    <link rel="stylesheet" href="{{ 'css/math.css' | url }}">
    <link rel="stylesheet" href="{{ 'css/syntax.css' | url }}">

    {% block latex %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '\\[', right: '\\]', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\(', right: '\\)', display: false}
            ],
            macros: {
                '\\l': '\\left',
                '\\r': '\\right',
                '\\NN': '\\mathbf{N}',
                '\\ZZ': '\\mathbf{Z}',
                '\\QQ': '\\mathbf{Q}',
                '\\RR': '\\mathbf{R}',
                '\\CC': '\\mathbf{C}',
                '\\diff': '\\mathop{}\\!\\mathrm{d}',
                '\\lint': '\\int\\limits',
                '\\ihat': '{\\bf i}',
                '\\jhat': '{\\bf j}',
                '\\khat': '{\\bf k}',
                '\\tr': '\\operatorname{tr}',
                '\\trans': '{\#1}^{\\mathsf T}',
                '\\adj': '{\#1}^{\\mathsf H}',
                '\\re': '\\operatorname{Re}',
                '\\im': '\\operatorname{Im}',
                '\\e': '{\\rm e}',
                '\\arccosh': '\\operatorname{arccosh}',
                '\\arcsinh': '\\operatorname{arcsinh}',
            },
            throwOnError: false
        });">
        </script>
    {% endblock %}
</head>

<body>
    <header>
        <nav>
            <div class="blog-title">
                <a href="https://h3nry-d1az.github.io/">{{ config.site_name }}</a>
            </div>

            <ul>
                {% for nav_item in nav %}
                <li>
                    <a href="{{ nav_item.url | url }}" class="{% if nav_item.active %}active{% endif %}">
                        {{ nav_item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <div style="line-height: 0.5;">
        {% if page and page.meta.author %}
        <p class="author">{{ page.meta.author }}</p>
        {% endif %}

        {% if page and page.meta.date %}
        <p class="date">{{ page.meta.date }}</p>
        {% endif %}

        {% if page and page.meta.updated %}
        <p class="updated">{{ page.meta.updated }}</p>
        {% endif %}

        {% if page and page.meta.note %}
        <p class="note">{{ page.meta.note }}</p>
        {% endif %}
    </div>

    {% block content %}
    <main>
        {{ page.content }}
    </main>
    {% endblock %}

    <footer>
        <span>{{ config.license }}</span>
        <span>{{ config.copyright }}</span>
    </footer>
</body>

</html>